:root {
    scroll-behavior : smooth;
}

body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(243, 243, 213);
}

h1, h2, h3, p, div, nav, header, footer {
    margin : 0;
    padding : 0;
}

section {
    height : 100vh;
}

#logo h1 a {
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    padding: 40px;
    color: black;
}

#logo h1 a: hover {
    color: white; 
}

h2 {
    margin: 30px;
}

main .shelters-dog article {
    padding: 5px;
    margin: 7px;
}

main .shelters-dog article img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 560px) {
    main .shelters-dog {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

@media (min-width: 660px) {
    main .shelters-dog {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 980px) {
    main .shelters-dog {
        grid-template-columns: repeat(4, 1fr);
    }
}