:root {
    scroll-behavior : smooth;
}

body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: antiquewhite;
}

h1, h2, h3, p, div, nav, header, footer {
    margin : 0;
    padding : 0;
}

section {
    min-height : 100vh;
    padding-top: 60px;
}

h2 a {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
}

.menu {
    display : flex;
    list-style-type : none;
    justify-content : space-around;
    padding : 0;
    position: fixed!important;
    top:0;
    right:0;
    z-index: 1;
    width: 100%;
}


ul {
    list-style : none;
    margin : 0;
    padding : 0;
    background: rgba(34, 34, 34, 0.37);
}


header .menu a {
    text-decoration : none;
    color :  white;
    display: block;
    line-height: 50px;
    padding: 0 20px;
    font-size: 17px;
    font-family : 'Indie Flower', cursive;
    transition:.4s linear;
}

header .menu a:hover {
    background:rgba(0,0,0,.3);
}

header .menu li {
    float : left;
    margin-right : 5px;
}

header  {
    margin : 0;
    height : 100vh;
    background-image : linear-gradient(rgb(255 255 255 / 0.61), rgb(0 0 0 / 0.61)), url("../img/cover-dog.png");
    background-repeat : no-repeat;
    background-position : bottom;
    background-size : cover;
}

header .logo {
    font-family : 'Indie Flower', cursive;
    color : white;
    font-size : 500%;
    display : flex;
    position : absolute;
    top : 30%;
    left : 35%;
}

section #aboutUs-wrapper {
    display: grid;
}

#aboutUs-left, #aboutUs-center, #aboutUs-right {
    align-items: center;
}

@media (min-width: 360px) {
  .aboutUs-icons, .aboutUs-text {
    display: row;
    margin-top: 5%;
  }
}

@media (min-width: 720px) {
  #aboutUs-left, #aboutUs-center, #aboutUs-right {
    display: inline-block;
    width: 31%;
    margin-top: 5%;
  }

@media (min-width: 850px) {
  #aboutUs-left, #aboutUs-center, #aboutUs-right {
    display: inline-block;
    width: 25%;
  }

  #aboutUs-left, #aboutUs-center, #aboutUs-right {
    margin: 3%;
    margin-top: 10%;
  }

#adoption {
    background: url('../img/background-paws.png');
    background-size: cover;
}

#adoption h2 a {
    text-decoration: none;
    color: black;
}

#adoption h2 a: hover{
    text-decoration: none;
}

.card {
    margin: 3%;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.card-body {
    display: flex;
	justify-content: flex-start;
}

.card-text {
    margin-left: 10%;
}

@media (min-width: 360px) {
  main section  .adoption-wrapper #adoption {
    width: 100%;
  }
}

@media (min-width: 720px) {
  .card {
    display: inline-block;
    width: 25%;
  }
}

aside #for-more {
    padding: 80px;
}

.adoption-button input[type=button] {
    border: 3px solid;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background: transparent;
    color: white;
    background-color: black;
}

.adoption-button input[type=button]:hover {
    color: black;
    background-color: white;
}

.button input[type=button] {
    border: 3px solid;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background: transparent;
    color: white;
    background-color: yellow;
}

.button input[type=button]:hover {
    color: yellow;
    background-color: white;
}

#contacts {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
	background: #f6a2bf;
	padding: 20px;
}
@media (min-width: 650px) {
    #contacts .contacts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}

h3 {
	color: #444;
	text-align: center;
}

#clock{
  font-family:Tahoma, sans-serif;
  font-size:20px;
  font-weight:bold;
  color:#0000cc;	
}

footer {
    background-color: antiquewhite;
}

footer .contacts-icons {
    margin: 20px;
}

.footer-logos {
    margin: 10px;
}

.contact-icons {
    display: inline-block;
}

.map {
    margin-left: 30%;
} 