@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Karla&display=swap');

:root {
    font-family: 'Karla', sans-serif;
    --main-color:black;
    --accent-color: yellow;
    scroll-behavior: smooth;
    }

body {
    max-width: 980px;
    margin: auto;
}

div #aboutUs, #adoption, #donation, #contacts {
    height: 100vh;
}

header nav .logo {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

header .menu {
    display: inline;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

header .menu a {
    text-decoration: none;
    color:black;
    padding:10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header .menu a:hover {
    font-weight: bold;
}
header .menu li {
    float: left;
    margin-right:5px;
}

@media (ntn-width: 550px) {

}

header .banner {
    background-image: url(../img/cover-dog.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 800px;
}

header .banner h1 {
    font-family: 'Indie Flower', cursive;
    color: white;
}

main .contacts-icons {
    width: 5%;
    height: auto;
}

footer #footer-phone-icon {
    width: 50px;
    height: auto;
    float:left;
}

footer .footer-logos {
    width: 50px;
    height: auto;
    float:right;
}